<div class="container d-flex flex-column align-items-center">
  <div class="search-container">
    <form>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="search" matInput placeholder="Akademska Kniga" />
      </mat-form-field>
    </form>
  </div>
  <div
    class="d-flex justify-content-xxl-start justify-content-center flex-wrap gap-3"
  >
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
    <bh-bookshop-card></bh-bookshop-card>
  </div>
</div>
