@import "styles";

.container {
  margin-top: 3em;
}

h2 {
  margin-top: 1em;
}

h3 {
  margin-top: 1em;
}

li {
  font-size: 25px;
  margin-bottom: 15px;
}

li:hover {
  cursor: pointer;
  color: map-get($bookhive-primary, 500);
}

.bio-author-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.bio-div {
  margin-top: 3em;
}

.author-book {
  margin-top: 10px;
}

ul {
  margin-left: 1em;
}

@media screen and (max-width: 1000px) {

  #author-name{
    display: flex; justify-content: center; align-items: center;
  }
  #author-age{
    display: flex; justify-content: center; align-items: center;
  }

  .bio-author-img {
    display: flex;
    flex-direction: column-reverse;
  }
  .bio-div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .books-wrapper {
    margin-top: 6em;
  }

  #avatar {
    width: 9em;
    height: 9em;
  }
}
