<div class="container">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li style="font-size: 16px;" class="breadcrumb-item"><a style="text-decoration: none;" routerLink="../../home">Home</a></li>
        <li style="font-size: 16px;" class="breadcrumb-item">
          <a style="text-decoration: none;" [href]="'/authors'">Authors</a>
        </li>
        <li style="font-size: 16px;" class="breadcrumb-item active" aria-current="page">
          <span>Preview</span>
        </li>
      </ol>
    </nav>
  </div>
  <mat-progress-spinner
    class="align-self-center"
    mode="indeterminate"
    *ngIf="authorIsLoading">
  </mat-progress-spinner>
  <div id="author-name">
    <h2>{{author?.name}}&nbsp;{{author?.surname}}</h2>
  </div>
  <div id="author-age">
    <h4>Age: {{author?.age}}</h4>
  </div>
  <div class="bio-author-img" style="width: 100%">
    <div class="bio-div">
      <h5>Biography</h5>
      <p>{{author?.biography}}</p>
      <div class="books-wrapper">
        <h3>Some of his books</h3>
        <ul>
          <li *ngFor="let authorBook of authorBooks"
              [ngStyle]="{'list-style-image': 'url(\'' + '/assets/book_resized.png' + '\')'}"
              [routerLink]="['/books/', authorBook?.id]">
            <div class="author-book">{{authorBook.bookName}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div style="width: auto; margin-left: auto; margin-right: auto">
      <img id="avatar" ngSrc="/assets/writer.png" height="350" width="350"/>
    </div>
  </div>
</div>

<!--<div class="container">-->
<!--  <h1>Author1&nbsp;Author1</h1>-->
<!--  <h2>23 years old</h2>-->
<!--  <div class="bio-author-img">-->
<!--    <div>-->
<!--      <p>AKSDKASKD AS DA SD ASD ASDAS DASDA SDASDASD ASDA SD A SDASDAS DASDAS DASD-->
<!--        DASDASD ASDA SDASDASD ASDASD ASDASD ASDASDA SDASDASD ASDASDASDASD </p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <img id="avatar" ngSrc="/assets/writer.png" height="350" width="350"/>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="books-wrapper">-->
<!--    <h3>Books by this author:</h3>-->
<!--    <ul>-->
<!--      <li [ngStyle]="{'list-style-image': 'url(\'' + '/assets/book_resized.png' + '\')'}">Book1</li>-->
<!--      <li [ngStyle]="{'list-style-image': 'url(\'' + '/assets/book_resized.png' + '\')'}">Book2</li>-->
<!--      <li>Book3</li>-->
<!--      <li>Book4</li>-->
<!--      <li>Book5</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
