@import "styles";

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.search-container {
  margin-bottom: 5em;
  width: 60em;
  margin-top: 2em;
  mat-form-field {
    width: fill;
  }
}

.books-wrapper {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: -50px;
}

bh-book-card {

}

.form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.filter-div {
  width: 45%;
}

.sort-div {
  width: 45%;
  margin-right: 10px;
}

.add-book-button {
  display: flex;
  float: right;
  background-color: map-get($bookhive-primary, 400);
  color: white !important;
}


::ng-deep ul > li:not(.active) > a {
  color: map-get($bookhive-accent, 400) !important;
  border-color: black !important;
}

::ng-deep ul > li.current {
  background-color: map-get($bookhive-accent, 200) !important;
}

@media screen and (max-width: 1200px) {
  .form-div {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    width: 40em;
    margin-top: 2em;
    mat-form-field {
      width: fill;
    }
  }
}
