<div class="container">
  <div class="search-container">
    <form>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="search" matInput placeholder="The Lord of The Rings" />
      </mat-form-field>
    </form>
  </div>
  <div class="books-wrapper">
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>
    <bh-book-card></bh-book-card>

  </div>
</div>
