<div class="container1">

  <a *ngIf="authService.isAdmin()" [href]="'/books/add'">Add new book</a>
  <div class="search-container">
    <form [formGroup]="searchAndFilterForm" >

      <div class='form-div' formGroupName="searchAndFilter">

        <div class='filter-div'>
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input [autofocus]="false" matInput type="text" formControlName="searchValue"
                   placeholder="The Lord of The Rings">
          </mat-form-field>
        </div>

        <div class='sort-div'>
          <mat-form-field>
            <mat-label>Genres</mat-label>
            <mat-select formControlName="sortValue">
              <mat-option value="">Filter by genre</mat-option>
              <mat-option *ngFor="let genre of genres" value="{{genre}}">{{genre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

    </form>
  </div>
  <div class="author-spinner" *ngIf="loading">
    <mat-progress-spinner
      class="align-self-center"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div class="books-wrapper" *ngIf="!loading">
    <div class="book-div" *ngFor="let book of books | paginate: { itemsPerPage: 9, currentPage: page, totalItems: total }" >
      <bh-book-card [book]="book"></bh-book-card>
    </div>
  </div>
  <pagination-controls (pageChange)="pageChangeEvent($event)" *ngIf="!loading"></pagination-controls>
</div>
