<div class="container author-container">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>Authors</span>
        </li>
      </ol>
    </nav>
  </div>
  <div class="spinner-div" *ngIf="loading">
    <mat-progress-spinner
      class="align-self-center"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <div *ngIf="!loading">
    <a *ngIf="authService.isLoggedIn() && authService.isAdmin()" class="btn text-white mb-3 add-author-button" (click)="openAuthorDialog(null)">Add Author</a>
  </div>
  <table class="table" *ngIf="!loading">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col" class="button-colons">Details</th>
      <th *ngIf="authService.isLoggedIn() && authService.isAdmin()" scope="col" class="button-colons">Edit</th>
<!--      <th *ngIf="authService.isAdmin()" scope="col" class="button-colons">Delete</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let author of authors$ | async' id='{{author.id}}'>
      <td>{{author.name}}</td>
      <td>{{author.surname}}</td>
      <td>
        <a [routerLink]="['/authors/', author?.id]"><mat-icon matTooltip="Details" class="mat-buttons info">info</mat-icon></a>
      </td>
      <td *ngIf="authService.isLoggedIn() && authService.isAdmin()">
        <a (click)="openAuthorDialog(author.id)"><mat-icon matTooltip="Edit" class="mat-buttons edit ">edit</mat-icon></a>
      </td>
<!--      <td *ngIf="authService.isAdmin()">-->
<!--        <a (click)="deleteAuthor(author.id)"><mat-icon matTooltip="Delete" class="mat-buttons delete">delete_outline</mat-icon></a>-->
<!--      </td>-->
    </tr>
    </tbody>
  </table>
</div>
<notifier-container></notifier-container>
