.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  margin-right: 0.75em;
  margin-bottom: 0;
}

mat-card-title {
  font-size: 2em;
}
