<div class="main-cont">
  <div class="container-wrapper">
    <div class="title-div home-font">
      <h2 class="welcome">Welcome to &nbsp;</h2>
      <h1 class="bookhive">Bookhive</h1>
      <h1 class="bullets first">A new way to immerse in books</h1>
      <h1 class="bullets">Find comfort within the realm of e-reading</h1>
      <h1 class="bullets">Socialize with fellow bookworms in our bookclubs</h1>
      <br>
      <div *ngIf="!authService.isLoggedIn()" style="width: 90%; display: flex; justify-content: center">
        <a style="font-size: 30px; margin-right: 40px; text-decoration: none;" class="" [href]="'/login'">
          <span class="register_buttons" style="color: rgb(2 73 25);" >Login</span>
        </a>

        <a style="font-size: 30px; text-decoration: none" class="" [href]="'/register'">
          <span class="register_buttons">Register</span>
        </a>
      </div>
    </div>
    <div class="container-image">
      <div class="image-div">
        <img class="image" src="/assets/book_cover111.jpg" alt="book_cover_1.jpg" />
      </div>
    </div>
  </div>
</div>
