<div class="container cont1">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>My Library</span>
        </li>
      </ol>
    </nav>
  </div>

  <h2>My Library</h2>
  <div class="wishlist-spinner" *ngIf="isLoading">
    <mat-progress-spinner class="align-self-center" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div class="my-wishlist-cont">
    <div *ngFor="let libraryBook of books">
      <mat-card class="card-container" appearance="raised">
        <div class="cover-image">
          <img mat-card-lg-image src="{{ libraryBook.book.coverImageUrl }}" />
        </div>
        <div class="card-content">
          <div class="header-content">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title
                  ><a
                    class="title-link"
                    [routerLink]="['/books/', libraryBook.book.id]"
                  >
                    {{ libraryBook.book.name }}</a
                  ></mat-card-title
                >
                <mat-card-subtitle
                  *ngFor="let author of libraryBook.book.authors"
                  >{{ author.name }}&nbsp;{{
                    author.surname
                  }}</mat-card-subtitle
                >
              </mat-card-title-group>
            </mat-card-header>
            <div>
              <mat-card-content class="my-2">
                <p>Reading progress:</p>
                <mat-form-field style="width: 100%">
                  <mat-label>Last Page Read</mat-label>
                  <input
                    id="lastPageReadId{{ libraryBook.book.id }}"
                    matInput
                    name="lastPageReadId{{ libraryBook.book.id }}"
                    type="number"
                    placeholder="{{ libraryBook.lastPageRead }}"
                    value="{{ libraryBook.lastPageRead || 0 }}"
                    min="0"
                    max="{{ libraryBook.book.totalPages }}"
                  />
                </mat-form-field>
                <div class="progress" role="progressbar">
                  <div
                    class="progress-bar text-dark fw-bold bh-progress-bar"
                    [style.width]="
                      (libraryBook.lastPageRead / libraryBook.book.totalPages) *
                        100 +
                      '%'
                    "
                  >
                    {{
                      (libraryBook.lastPageRead / libraryBook.book.totalPages) *
                        100
                    }}%
                  </div>
                </div>
                <div class="text-center">
                  <small>{{ libraryBook.book.totalPages }} total pages</small>
                </div>
              </mat-card-content>
            </div>
          </div>
          <div class="footer-content">
            <mat-card-actions align="end">
              <div>
                <button
                  [routerLink]="['/books/', libraryBook.book.id, 'preview']"
                  mat-button
                  class="details-link"
                  target="_blank"
                >
                  Preview
                </button>
              </div>
              <div class="act-button-div">
                <button
                  mat-button
                  color="primary"
                  (click)="editLastPageRead(libraryBook)"
                >
                  Save Changes
                </button>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
