<div class="container mt-5">
  <div class="d-flex justify-content-center" *ngIf="invitationsAreLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="!invitationsAreLoading">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="../home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Invitations</li>
      </ol>
    </nav>
  </div>
  <div class="my-4">
    <h2>Bookclub invitations:</h2>
  </div>
  <table class="table" *ngIf="!invitationsAreLoading">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">Bookclub</th>
        <th scope="col">Message</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invitation of invitations; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ invitation.senderEmail }}</td>
        <td>{{ invitation.bookClubName }}</td>
        <td>{{ invitation.message }}</td>
        <td class="text-center">
          <button
            color="primary"
            mat-button
            (click)="acceptInvitation(invitation.id)"
          >
            Accept
          </button>
          <button
            color="warn"
            mat-button
            (click)="declineInvitation(invitation.id)"
          >
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="invitations.length <= 0" class="text-center">
    <p>No bookclub invitations.</p>
  </div>
</div>
