.search-container {
  width: 32em;
  mat-form-field {
    width: fill;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    width: 18em;
    mat-form-field {
      width: fill;
    }
  }
}
