@import "styles";

.body {
  background-color: map-get($bookhive-primary, 50);
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
}

#map {
  width: auto;
  height: 75vh;
}
.geolocation-wrapper {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin-top: 0.625em;
  background: map-get($bookhive-accent, 100);
  border-radius: 1.2em;
  width: max-content;
  padding: 1em;
  color: black !important;
  text-decoration: none;

}
