@import "styles";

.spinner-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-left: 25%;
  z-index: 1;
}

form div {
  margin-bottom: 20px;
}

mat-form-field {
  height: 70px;
}

form {
  width: 70%;
  margin-top: 30px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  font-size: 25px;
  height: 100px;
  color: white !important;
  padding: 20px !important;
}

form button {
  height: 50px;
}

.register-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.register-form-div {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -120px;
}

.logo-div {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: map-get($bookhive-primary, 400);
}

.create-account-div {
  margin-top: 150px;
}

.create-account {
  font-size: 30px;
}

mat-label {
  font-size: 20px;
}

.title-container {
  margin-top: -75px;
}

input {
  font-size: 20px !important;
}

a {
  text-decoration: none;
  color: map-get($bookhive-primary, 500);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.title-div {
  h1 {
    font-family: var(--bookhive-logo-font);
    font-weight: 500;
  }
}

.paragraph-div {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  font-family: var(--bookhive-logo-font);
  width: 360px;
}

img {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-left: 8px;
}

.already-have-account-div {
  margin-top: 0.2em;
}

h1 {
  font-size: 80px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  width: 100%;
  height: 10px;
}

@media (max-width: 1200px) {
  .register-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($bookhive-primary, 400);
  }
  .register-div {
    order: 1;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .register-form-div {
    order: 2;
    width: 90%;
    margin-top: -20px;
  }
  .create-account-div {
    margin-top: 50px;
  }
  .title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  //.paragraph-div {
  //  margin-top: -65px;
  //}
  a {
    color: white !important;
  }
  button {
    background-color: map-get($bookhive-primary, 800) !important;
  }
  .spinner-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.5%;
    margin-left: -0.5%;
    z-index: 1;
  }
}
