@import "styles";

form div {
  margin-bottom: 20px;
}

input {
  font-size: 20px !important;
}

mat-form-field {
  height: 80px;
}

.password {
  margin-top: -15px;
}

form {
  width: 70%;
  margin-top: 30px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  font-size: 25px;
  height: 100px;
  color: white !important;
  padding: 20px !important;
}

form button {
  height: 50px;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.login-form-div {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: map-get($bookhive-primary, 500);
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.logo-div {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: map-get($bookhive-primary, 400);
}

.login {
  font-size: 30px;
}

mat-label {
  font-size: 20px;
}

.title-container {
  margin-top: -75px;
}

h1 {
  font-size: 80px;
}

.title-div {
  h1 {
    font-family: var(--bookhive-logo-font);
    font-weight: 500;
  }
}

.paragraph-div {
  margin-top: -65px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  font-family: var(--bookhive-logo-font);
}

img {
  width: 45px;
  height: 45px;
  margin-top: 14px;
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .login-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($bookhive-primary, 400);
  }
  .logo-div {
    order: 1;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-form-div {
    order: 2;
    width: 90%;
  }
  .login-div {
    margin-top: 50px;
  }
  .title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .paragraph-div {
    margin-top: -65px;
  }
  a {
    color: white;
  }
  button {
    background-color: map-get($bookhive-primary, 800) !important;
  }
}
