<mat-card class="card-container" appearance="raised">
  <div class="cover-image">
    <img
      mat-card-lg-image
      src="https://i.pinimg.com/564x/32/14/c2/3214c218a46bc12139e515a6ba7ef1a1.jpg"
    />
  </div>
  <div class="card-content">
    <div class="header-content">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            {{ bookshop?.name }}
          </mat-card-title>
          <mat-card-subtitle>
            Grade: <strong>{{ bookshop?.grade }}</strong>
          </mat-card-subtitle>
          <mat-card-subtitle>
            {{ bookshop?.address }} {{ bookshop?.city }}
          </mat-card-subtitle>
          <mat-card-subtitle>
            {{ bookshop?.phoneNumber }}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </div>
    <div>
      <mat-card-actions align="end">
        <button
          [routerLink]="[bookshop?.id]"
          class="default-button"
          mat-stroked-button
        >
          Details
        </button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
