<div class="topic-dialog-wrapper">
  <div>
    <mat-progress-spinner
      class="align-self-center"
      mode="indeterminate"
      *ngIf="isLoading"
    >
    </mat-progress-spinner>
  </div>
  <form *ngIf="!isLoading" [formGroup]="topicForm" (ngSubmit)="onSubmit()">
    <div class="form-field-wrapper">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="topicForm.get('title')?.invalid"
          >Title is required.</mat-error
        >
      </mat-form-field>
    </div>
    <div class="buttons-div">
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">
        Cancel
      </button>
      <button
        class="submit-button"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="topicForm.invalid"
      >
        {{ getSubmitButtonText() }}
      </button>
    </div>
  </form>
</div>
