<mat-card class="card-container" appearance="raised">
  <div class="cover-image">
    <img
      mat-card-lg-image
      src="https://cdn.waterstones.com/bookjackets/large/9780/0083/9780008334840.jpg"
    />
  </div>
  <div class="card-content">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Book Title </mat-card-title>
        <mat-card-subtitle> Author Name & Surname </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p
        class="content-container"
        [class.show]="showMore"
        (click)="showMore = !showMore"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et
        odio pellentesque. Eget est lorem ipsum dolor sit amet consectetur.
        Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
        Commodo odio aenean sed adipiscing diam donec adipiscing tristique.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ac felis donec et
        odio pellentesque. Eget est lorem ipsum dolor sit amet consectetur.
        Blandit aliquam etiam erat velit scelerisque in dictum non consectetur.
        Commodo odio aenean sed adipiscing diam donec adipiscing tristique.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button class="default-button" mat-stroked-button>View</button>
    </mat-card-actions>
  </div>
</mat-card>
