<mat-card class="card-container" appearance="raised">
  <div class="cover-image">
    <img
      mat-card-lg-image
      src="{{book!.coverImageUrl}}"
    />
  </div>
  <div class="card-content">
    <div class="header-content">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{book!.name}}</mat-card-title>
          <mat-card-subtitle *ngFor="let author of book?.authors">{{author.name}}&nbsp;{{author.surname}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </div>
    <div class="footer-content">
      <mat-card-actions align="end">
        <div class="add-to-cart-div"><a (click)="addBookToShoppingCart()"><mat-icon matTooltip="Add to shopping cart" class="mat-buttons add_shopping_cart ">add_shopping_cart</mat-icon></a></div>
        <div class="add-to-wl-div"><a (click)="addBookToMyWishList(book?.id!)"><mat-icon matTooltip="Add to wishlist" class="mat-buttons favorite_border ">favorite_border</mat-icon></a></div>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
<notifier-container></notifier-container>
