@import "styles";

.content-container {
  cursor: pointer;
  line-height: 1.2em;
  height: 5em;
  overflow: hidden;
  text-align: justify;
}

.show {
  overflow: visible;
  height: auto;
}

mat-card-header {
  display: block;
}

mat-card-actions {
  display: block;
  padding-top: 1.5em;
}

.card-container {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1em;
  padding: 1.5em;
  width: 30em;
}

.header-content {
  flex-grow: 1;
}

.footer-content {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1.3em;
  margin-right: 1em;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cover-image img {
  height: 100%;
  box-shadow: 2px 2px 7px gray;
}

mat-card-title {
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

mat-card-subtitle {
  font-size: 1.2em;
}

.heart {
  width: 40px;
  height: 40px;
}

.heart:hover {
  cursor: pointer;
}

.cart {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart:hover {
  cursor: pointer;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

mat-card-actions {
  display: flex !important;
  justify-content: end;
  flex-direction: row;
}

mat-card-actions div {
  margin-left: 10px;
}

mat-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: map-get($bookhive-accent, 400);
}

.add_shopping_cart {

}

.book-id-link {
  color: black !important;
  font-size: 0.85em !important;
}

.book-id-link:hover {
  color: map-get($bookhive-accent, 400) !important;
}

@media screen and (max-width: 1200px) {
  .card-container {
    width: fill;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 600px) {
  .card-container {
    width: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
}
