<mat-card class="card-container" appearance="raised">
  <div class="cover-image">
    <img
      mat-card-lg-image
      src="https://cdn.waterstones.com/bookjackets/large/9780/0083/9780008334840.jpg"
    />
  </div>
  <div class="card-content">
    <div class="header-content">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title> Book Title</mat-card-title>
          <mat-card-subtitle> Author Name & Surname</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </div>
    <div class="footer-content">
      <mat-card-actions align="end">
        <button class="default-button" mat-stroked-button>Details</button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
