@import "styles";

.spacer {
  flex: 1 1 auto;
}

#logo {
  margin-left: 1em;
  font-family: var(--bookhive-logo-font);
  font-size: x-large;
  font-weight: 500;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 15em;
}

.active {
  background-color: map-get($bookhive-primary, 100);
}
