<div class="container my-5">
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="text-decoration: none" routerLink="../../../home">Home</a></li>
        <li class="breadcrumb-item">
          <a style="text-decoration: none" [href]="'/books'">Books</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>{{ editMode ? 'Edit' : 'Add' }}</span>
        </li>
      </ol>
    </nav>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center my-5">
    <h2>{{ editMode ? 'Edit' : 'Add a New' }} Book</h2>
    <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()" class="mb-4">

      <input matInput type="text" formControlName="id" hidden>

      <div class="form-group">
        <mat-form-field>
          <mat-label>ISBN:</mat-label>
          <input matInput type="text" formControlName="isbn" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Description:</mat-label>
          <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Date Published:</mat-label>
          <input matInput type="date" formControlName="datePublished" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Cover Image URL:</mat-label>
          <input matInput type="text" formControlName="coverImageUrl" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>PDF URL:</mat-label>
          <input matInput type="text" formControlName="pdfUrl" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Price:</mat-label>
          <input matInput type="number" formControlName="price" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Total Pages:</mat-label>
          <input matInput type="number" formControlName="totalPages" required>
        </mat-form-field>
      </div>

      <div class="form-group">
      <mat-form-field>
        <mat-label>Genres</mat-label>
        <mat-select formControlName="genres" multiple>
          <mat-option *ngFor="let genre of allGenres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>




      <div class="form-group">
        <mat-form-field>
          <mat-label>Authors</mat-label>
          <mat-select formControlName="authors" multiple>
            <mat-option *ngFor="let author of allAuthors" [value]="author.id">
              {{ author.name + " " + author.surname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <button type="submit" class="btn btn-primary w-100">
        {{ editMode ? 'Edit Book' : 'Add Book' }}
      </button>

    </form>
  </div>
</div>
